.notifications-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifications-sec>button{
    width: 100px;
    margin: 0 20px;
    padding: 6px;
}
.notifications-sec>h1{
    margin: 0;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: #cfcfcf;
    border: 1px solid #eee;
    border-radius: 4px;
}
.button:hover {
    cursor: pointer;
    background-color: #777777;
}
.button p {
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
}